:root {
  --main-color: #0e2431;
  --primary-color: Black;
  --th-color: #3e64ff;
  --max-width: 1300px;
  --sec-color: #3e64ff;
  --font-one: 50px;
}
.ldBar {
  position: relative;
}
.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
}
.ldBar-label:after {
  content: "%";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}
.ldBar-label {
  color: var(--main-color);
  font-family: "varela round";
  font-size: 20px;
  font-weight: 900;
}
.ldBar[data-preset="circle"] path {
  stroke: var(--th-color); /* Change to your desired color */
}

.ldBar path.mainline {
  stroke-width: 9;
  stroke: var(--th-color);
  stroke-linecap: round;
}
.ldBar path.baseline {
  stroke-width: 9;
  stroke: #f1f2f3;
  stroke-linecap: round;
}
